{# Import částí, které se budou opakovat na více stránkách#}
{% include 'reusable/header.html' %}
{% include 'reusable/nav.html' %}
{% include 'reusable/SearchBar.html' %}
{#vložení obsahu dané stránky#}

<script src = "../static/Rating.js"></script>

{% if film %}

<main filmId="{{ film['imdbId'] }}">

<h1>Název filmu: {{ film["title"] }}</h1>

<h2>Rok vydání: {{ film["year"] }}</h2>

<div id="ratingDiv" defaultUserRating="{{ usersRating }}">

        {% for i in range(10) %}

            {% if i <= usersRating - 1 %}
                <img src="../static/imgs/full.png" alt="" order="{{i+1}}">
            {% else %}
                <img src="../static/imgs/empty.png" alt="" order="{{i+1}}">
            {% endif %}
        {% endfor %}

    </div>

<h2>Hodnocení na IMBd: {{ film["rating"] }}</h2>

<h3>Režisér filmu: {{ film["director"]["name"] }}</h3>

<h3>Herci ve filmu: {{ film["actors"][0]["name"] }}</h3>

<h3>Popis filmu: {{ film["description"] }}</h3>

<h2>Plakát k filmu:</h2>

<img src="{{ film["posterImgSrc"] }}" alt="Plakát filmu {{ film["title"] }}" width="300">

    <br>

<h2>Trailer k filmu:</h2>

<video width="640" height="360" controls>
        <source src="{{ film["trailerUrl"] }}" type="video/mp4">
</video>

</main>

    {% else %}

    <p>{{ errorMessage }}</p>

{% endif %}

{% include 'reusable/footer.html' %}