{# Import částí, které se budou opakovat na více stránkách#}
{% include 'reusable/header.html' %}
{% include 'reusable/nav.html' %}
{% include 'reusable/SearchBar.html' %}
{#vložení obsahu dané stránky#}

<script src = "../static/Rating.js"></script>
<script>src = "../static/ReviewRating.js"</script>

{% if film %}

<main filmId="{{ film['imdbId'] }}">

    <h1>Název filmu: {{ film["title"] }}</h1>
    
    <h2>Rok vydání: {{ film["year"] }}</h2>
    
    <div id="ratingDiv" defaultUserRating="{{ userRating }}">
    
            {% for i in range(10) %}
    
                {% if i <= userRating - 1 %}
                    <img src="../static/imgs/full.png" alt="" order="{{i+1}}">
                {% else %}
                    <img src="../static/imgs/empty.png" alt="" order="{{i+1}}">
                {% endif %}
            {% endfor %}
    
        </div>
    
    <h2>Hodnocení na IMBd: {{ film["rating"] }}</h2>
    
    <h3>Režisér filmu: {{ director_name }}</h3>
    {# Zeptat se chata, jak dostat informace z json #}
    
    <h3>Herci ve filmu: {% for actor in actors %}
        <p>{{ actor }}</p>
        {% endfor %}
    </h3>
    
    <h3>Popis filmu: {{ film["description"] }}</h3>
    
    <h2>Plakát k filmu:</h2>
    
    <img src="{{ film["posterImgSrc"] }}" alt="Plakát filmu {{ film["title"] }}" width="300">
    
        <br>
    
    <h2>Trailer k filmu:</h2>
    
    <video width="640" height="360" controls>
            <source src="{{ film["trailerUrl"] }}" type="video/mp4">
    </video>
    
    <div id = "reviewsDiv">

        {% if user %}

            {% if userReview %}

                <div>
                    <p>Recenze uživatele:</p>
                    <h3>{{ userReview }}</h3>
                    <form action="/deleteReview" method="post"><input type="hidden" name="reviewId" value="{{ userReview.id }}"><input type="submit" value="Odstranit"></form>
                </div>

            {% else %}

                <form action="/addReview" method="post">

                    <label for="textarea"></label>
                    <textarea name="reviewContent" id="textarea" cols="30" rows="10"></textarea>
                    <input type="hidden" name="filmId" value="{{ film['imdbId'] }}">
                    <input type="submit" value ="Poslat recenzi">

                </form>
            {% endif %}
        {% endif %}

        <p>Recenze uživatelů:</p>

        <ul>

            {% for review in allReviews %}

            <li reviewId = "{{ review["id"] }}">
                <div>
                    <h3>{{ review }}</h3>
                    <div id = "reviewRating">
                        <img src="/../static/imgs/thumb_up.png" alt="Palec nahoru" val = 1>
                        <img src="/../static/imgs/thumb_down.png" alt="Palec dolů" val = 0>
                    </div>
                </div>
            </li>

            {% endfor %}
        </ul>

    </div>

</main>

    {% else %}

    <p>{{ errorMessage }}</p>

{% endif %}

{% include 'reusable/footer.html' %}