{# Import částí, které se budou opakovat na více stránkách#}
{% include 'reusable/header.html' %}
{% include 'reusable/nav.html' %}
{% include 'reusable/SearchBar.html' %}
{#vložení obsahu dané stránky#}
<main style="width: 97%;">
<div class="row mb-5">
    <div class="col-md-4">
        <h2 class="text-center mt-4 mb-4"><strong>Nejlepší filmy webu</strong></h2>
        <table id = "TopAverageRatings" class="ms-4 me-4 w-100">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Plakát</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Název</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Rok</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Hodnocení</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for average_rating in average_ratings %}
                <tr>
                    <td style="width: 140px">
                        <div class="mt-3 text-center">
                            <img height="200px" src="{{ average_rating["posterImgSrc"] }}" alt="Plakát filmu">
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class="mt-3 text-center">
                            <h3><a href="/film/{{ average_rating["filmId"] }}">{{ average_rating["title"] }}</a></h3>
                        </div>
                    </td>
                    <td>
                        <div class="mt-3 text-center">
                            <h3>{{ average_rating["year"] }}</h3>
                        </div>
                    </td>
                    <td class="text-danger">
                        <div class="mt-3 text-center">
                            <h3>{{ average_rating["avgRating"] }}</h3>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center mt-4 mb-4"><strong>Nejaktivnější uživatelé</strong></h2>
        <table class="ms-4 me-4 w-100" id = "TopActiveUsers">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Profilový obrázek</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Jméno uživatele</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Počet bodů aktivity</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for active_user in top_active_users %}
                    <tr>
                        <td class="text-center mb-3 mt-3">
                            <div class="mt-3 text-center">
                                <img width="150px" src="../static/imgs/profile_pictures/{{ active_user.id }}.png" alt="Profilový obrázek uživatele">
                            </div>
                        </td>
                        <td class="text-center mb-3 mt-3">
                            <a href="/user/{{ active_user["id"] }}"><h3>{{ active_user["username"] }}</h3></a>
                        </td>
                        <td class="text-danger text-center mb-3 mt-3">
                            <h3>{{ active_user["totalPoints"] }}</h3>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h2 class="text-center mt-4 mb-4"><strong>Nedávné recenze</strong></h2>
        <table id = "MostRecentReviews" class="ms-4 me-4 w-100">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Plakát</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Název filmu</h5>
                    </th>
                    <th class="text-center mb-3 mt-3">
                        <h5 class="mt-1">Jméno uživatele</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for latest_review in latest_reviews %}
                    <tr>
                        <td style="width: 140px" class="text-center mb-3 mt-3">
                            <div class="mt-3 text-center">
                                <img height="200px" src="{{ latest_review["posterImgSrc"] }}" alt="Plakát filmu">
                            </div>
                        </td>
                        <td style="width: 250px;" class="text-center mb-3 mt-3">
                            <a href="/film/{{ latest_review["imdbId"] }}#review{{ latest_review["id"] }}"><h2>{{ latest_review["title"] }}</h2></a>
                        </td>
                        <td class="text-center mb-3 mt-3">
                            <a href="/user/{{ latest_review["id_uzivatele"] }}"><h3>{{ latest_review["username"] }}</h3></a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    </div>

</main>

{% include 'reusable/footer.html' %}
