{# Import částí, které se budou opakovat na více stránkách#}
{% include 'reusable/header.html' %}
{% include 'reusable/nav.html' %}
{#vložení obsahu dané stránky#}
<main>


{# Vytvoření formuláře, post - posíláme zadaná data na URL adresu #}
<form action="" method="post">

        <label for="username">Přihlašovací jméno</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Heslo</label>
        <input type="password" name="password" id="password" required> {# required - uživatel nemůže formulář poslat prázdný#}
        {# Password - typ inputy, heslo je schované za "hvězdičkama", automaticky ukázání#}

        <input type="submit" value="Přihlásit se"> {# Submit - pošli formulář, value - text na tlačítku #}

    </form>

</main>

{% include 'reusable/footer.html' %}
            

