</body>

<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Google -->
      <div
        data-mdb-ripple-init
        class="text-black btn-floating m-1"
      >Kontaktujte mě: <p class="text-white" style="background-color: #dd4b39;" >luc41305@gmail.com</p></div>

      <!-- Facebook -->
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/spseol"
        role="button"
        ><i>Facebook školy</i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.spseol.cz/"
        role="button"
        ><i>Stránky školy</i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/spseol/"
        role="button"
        ><i>Instagram školy</i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/MartinLuczka"
        role="button"
        ><i>Můj GitHub účet</i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Vytvořeno: Martin Luczka 2024
  </div>
  <!-- Copyright -->
</footer>

</html>