<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"><strong>Filmová aplikace</strong></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Domovská stránka</a>
            </li>
            {# Odkaz na domovskou stránku, chceme v každém případě #}
                {% if session["user"] %}
                    {# Provode se, pokud jsou data v session, neboli, když je uživatel přihlášen #}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user/{{ session["user"]["id"]}}">{{ session["user"]["username"] }}</a>
                    </li>
                    {# Odkaz na profil uživatele podle id v databázi, Klikáme na jméno uživatele #}
                    <li class="nav-item">
                        <a class="nav-link" href="/nastaveniProfilu">Nastavení profilu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/odhlaseni">Odhlásit se</a>
                    </li>
                    {# Pokud jsme přihlášeni, už se můžeme jen odhlásit #}
                    {# br dělá nový řádek #}
                {% else %}
                {# Pokud nejsme přihlášeni, provede se tato část kódu #}
                    <li class="nav-item">
                        <a class="nav-link" href="/prihlaseni">Přihlásit se</a>
                    </li>
                    {# Zobrazení možnosti přihlášení #}
                    <li class="nav-item">
                        <a class="nav-link" href="/registrace">Zaregistrovat se</a>
                    </li>
                    {# Zobrazení možnosti odhlášení #}
                {% endif %}
                {# Ukončení podmínky #}
        </ul>
    </div>
</nav>